*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  
}


header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
.headerLeft{
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.headerAddress {
    padding: 20px 30px;
}
.headerAddress h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.headerAddress p{
    font-size: 14px;
}
.searchBox{
    flex-grow: 1;
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid  #f4f4f4;
    border-radius: 15px;
}
.searchBox button{
    padding: 15px;
    border: none;
    background-color: transparent;

}
.searchBox input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
}
.searchBox input:focus{
    outline: none;
}
.headerBtn{
    display: flex;
    gap: 40px;
    margin-right: 40px;

}
.headerBtn button{
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
}
.headerBtn button:last-child{
    color: white;
    background-color: rgb(12, 131, 31);
    font-weight: bold;
    border-radius: 8px;
}
.bannerSection{
    margin: 20px auto;
    max-width: 1280px;
}
.bannerSection img{
    width: 100%;
    
}
.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;

}
.orderBannerItems{
  flex-basis: 27%;  
  margin: 1%;
}
.orderBannerItems img{
    width: 100%;
}
.categorySection{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.categoryItems{
    flex-basis: 10%;
}
.categoryItems img{
    width: 100%;
}
.headingRow h2{
    font-size: 22px;

}
.productSection{
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px 0px 0px;
}
.headingRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headingRow a{
    color: #328839;
    font-size: 18px;
}
.productRow{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    gap: 2%;
}
.productItems{
    flex-basis: 15%;
    box-shadow: 0px 0px 10px 2px #fcfcfc; 
    border: 1px solid #ccc;
    border-radius: 10px;
}
.productImg{
    text-align: center;
    padding: 15px;
    
}
.productImg p{
    background-color: #f8f8f8;
    display: flex;
    width: 60px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 12px;
    text-align: left;

}
.productContent{
    padding: 15px;
    padding-top: 0px;
}
.productContent h3{
    margin: 15px;
    font-size: 14px;
}
.productContent p{
    font-size: 14px;
    color: #848484; 
}
.btn-price-outer{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}
.btn-price-outer button{
    border:1px solid #328839;
    padding: 5px 15px;
    background-color: #f7fff9;
    border-radius: 10px;
    color: #008631;
}
footer{
    padding: 40px 0px 0px 0px;
}
.footer-mid{
    max-width: 1280px;
    margin: auto;
}
.footer-mid-row1{
    width: 100%;
    display: flex;
    gap: 40px;

}
.footer-mid-row1-left{
    flex-basis: 30%;
}
.footer-mid-row1-left h3{
    margin-bottom: 20px;
}
.useFulLinks{
    display: flex;
    gap: 10px;

}
.useFulLinks ul{
    flex-basis: 33%;
    list-style: none;
}
.useFulLinks ul li a{
    font-size: 14px;
    display: block;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;

}
.footer-mid-row1-right{
     flex-basis: 70%;
}
.footer-mid-row1{
    padding: 10px;
    flex-direction: 10px;
}
.CategoriesHeadingRow{
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    align-items: center;
}
.footer-mid-row3 p{
    padding: 10px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(102, 102, 102);

}
.footer-mid-row2 {
    background-color: #fcfcfc;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    display: flex;

}
.footer-mid-row2 p{
    flex-basis: 40%;
    font-size: 14px;
    text-align: center;
}
.appIcons {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    gap: 15px;
}
.socialLinks {
  display: flex;
  gap: 20px; /* space between icons */
  justify-content: center; /* center them horizontally */
  align-items: center; /* center vertically if needed */
  
}

.socialLinks i {
  font-size: 30px; /* icon size */
  color: #333; /* icon color, change as needed */
  transition: color 0.3s;
}

.socialLinks i:hover {
  color: #007bff; /* color on hover */
  cursor: pointer;
}




